body {
    font-family: Roboto;
    background: #70e1f5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#container {
width: 360px;
margin: 150px auto;
box-shadow: 0 0 5px rgb(0, 0, 0, 0.1);
background: #f7f7f7;
}

h1{
    background: #DB5461;
    color: #FFF9FB;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}

li{
    background: #FFF9FB;
    height: 40px;
    line-height: 40px;
    color: #666;
}

li:nth-child(2n){
    background: #f7f7f7;
}


li:hover span {
    width: 40px;
    opacity: 1;
   
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

input{
    font-size: 18px;
    color: #f7f7f7;
    width: 100%;
    padding: 13px 20px 13px 20px;
    box-sizing: border-box;
    color: #DB5461;
    border: 0px solid ;
}

input:focus {
    background: #f7f7f7;
    border: 2px solid  #E3F2FD;
    outline: none;
}

span{
    background: #F4A261;
    color: #f7f7f7;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    width: 0;
    display: inline-block;
     transition: 0.2s linear;
     opacity: 0;
}

.completed {
    color: gray;
    text-decoration: line-through;
}

.fa-plus{
    float: right;
}


